body,
html {
  height: 100%;
  margin: 0;
}

body {
  background: #518d9e;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#518d9e),
    to(#2c3143)
  );
  background: linear-gradient(180deg, #518d9e 0, #2c3143);
  background-attachment: fixed;
  background-color: #eeeff5;
  color: #666779;
  font-family: Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
}

/* Estilos para o header */
.header {
  display: flex;
  align-items: flex-start; /* Alinha a logo com a primeira coluna dos aplicativos */
  justify-content: space-between;
  padding: 1rem;
  color: white;
  margin-top: 50px;
}

.header .logo {
  width: 200px; /* Aumenta o tamanho da logo */
  margin-bottom: 40px;
  margin-left: 40px;
}

.label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding-right: 20px;
}

.raoni-icon {
  width: 24px;
  margin-right: 8px;
}

/* Estilos para o container das imagens */
.image-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.image-box {
  flex-basis: calc(25% - 1rem);
  position: relative;
  margin-bottom: 2cm;
}

.image-box img {
  width: 100%;
  background-color: transparent;
  border-radius: 2px;
}

.image-box h1 {
  text-align: center;
  margin-top: 0.2rem;
}

/* Estilos para o fundo fosco (opaco) */
.image-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Altere a opacidade conforme necessário */
  border-radius: 2px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-box:hover::after {
  opacity: 1;
}

/* Estilos para telas menores */
@media screen and (max-width: 1280px) {
  .image-container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .image-container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .image-box {
    flex-basis: calc(50% - 1rem);
  }
}

@media screen and (max-width: 480px) {
  .image-container {
    max-width: 100%;
    padding: 0 20px;
  }
